/* Variables */

:root {
  --primary-color: #696969;
  --active-color: #d2ffd4;
  --hover-color: #91d049;
  --header-primary: #ffffff;
}

/* General */

main {
  width: 80%;
  max-width: 1444px;
  margin: 0 auto;
}

/* Typography */

html {
  font-size: 100%;
} /*16px*/

body {
  background-color: #fcfafa;
  font-family: "Bitter", serif;
  font-weight: 500;
  line-height: 1.75;
  color: var(--primary-color);
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text_small {
  font-size: 0.833rem;
}

.image-left {
  float: left;
  margin: 0 1em 0 0;
}

.image-right {
  float: right;
  margin: 0 0 0 1em;
}

.clearfloat::after {
  clear: both;
  display: table;
  content: "";
}

article p {
  text-align: justify;
}

/* Navigation */

.navigation ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--header-primary);
}

.navigation ul a:hover {
  color: var(--hover-color);
}

.navigation ul li.active > a {
  color: var(--active-color);
}

.navigation > ul ul {
  display: none;
}

main > header {
  background: url(../multimedia/achim-ruhnau-3L04gCuEoK8-unsplash.jpg);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

main > header {
  color: var(--header-primary);
}

.navigation ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #a9a9a9b0;
}

.navigation li {
  position: relative;
  padding: 1em;
}

.navigation > ul > li {
  flex-grow: 1;
  text-align: center;
}

.navigation > ul > li:hover > ul {
  top: 100%;
  right: 0;
  width: 100%;
}

.navigation > ul > li > ul > li:hover ul {
  left: 100%;
  top: 0;
  width: 100%;
}

.navigation ul > li:hover > ul{
  display: block;
  position: absolute;
}

/* Display */

.row {
  display: flex;
}

.col{
  flex: 1 1 0%
}

.col.product {
  flex-grow: 3;
}

.col.additional-products {
  flex-grow: 1;
}

.additional-products ul {
  list-style: none;
  padding: 0;
}

@media print{
  main{
    width: 100%;
    margin: 0;
  }
  .navigation {
    display: none;
  }
  main>header{
    background:none;
  } 
  
  .additional-products > aside:first-child{
    display: none;
  }
  footer{
    display: none;
  }
}

@media screen and (min-width:320px) {
  main{
    margin: 1em 1em;
    width: 100%;
  }
  
}